.form-link {
	display: inline-block;
	word-break: break-word;
}

.input-group {
	margin-bottom: 1em;
}

.form-label {
	display: block;
}

.form-tf {
	margin-bottom: 1em;
}

.form-ta {
	width: 100%;
	resize: vertical;
}

.action-group {
	margin-bottom: 1em;
}

.hidden {
	display: none;
}

#from-tf-targeturl {
	width: 100%;
}
